{# templates/profile/change_password.html.twig #}

{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
{% endblock %}


{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    
    {{ form_start(formPass) }}
    <a href="{{ path('app_profile')}}" id="back-button" class="back-button">
        &#8592; Retour 
    </a>
        <h1 class="form-title">Modifier le mot de passe</h1>

        {{ form_widget(formPass) }}
        <button class="btn btn-primary">Modifier le mot de passe</button>
    {{ form_end(formPass) }}
{% endblock %}
