{# templates/profile/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/autocomplete-club.css') }}">
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h1 class="form-title">Mettre à jour le profil</h1>
        {{ form_row(form.name) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}  {# Ajout du champ email #}
<!-- Conteneur principal pour le champ de recherche et les résultats de l'auto-complétion -->
<div class="autocomplete">
    <!-- Étiquette pour le champ de recherche, associée à l'élément avec l'ID 'clubSearch' -->
    <label for="clubSearch">Club</label>
    
    <!-- Champ de texte pour entrer le nom du club avec des valeurs dynamiques basées sur les données de l'utilisateur -->
    <input type="text" id="clubSearch" name="clubSearch" placeholder="Nom du club" value="{{ user.userProfile.club ? user.userProfile.club.name : '' }}">
    
    <!-- Champ caché pour stocker l'ID du club sélectionné, également basé sur les données de l'utilisateur -->
    <input type="hidden" id="clubId" name="clubId" value="{{ user.userProfile.club ? user.userProfile.club.id : '' }}">
    
    <!-- Zone pour afficher les résultats de l'auto-complétion -->
    <div class="autocomplete-items" id="clubSearchResults"></div>
</div>

        {{ form_row(form.birth_date) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

    <a href="{{ path('app_profile_change_password') }}" class="change-password">Changer le mot de passe</a>
    
    <!-- Lien vers la gestion des blocages -->
    <a href="{{ path('app_manage_blocks') }}" class="manage-blocks change-password">Gérer les blocages</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('asset/js/autocompleteClub.js') }}"></script>
{% endblock %}
