{# templates/profile/manage_blocks.html.twig #}
{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/block-list.css') }}">
    {% endblock %}

{% block body %}
    <form method="POST" action="{{ path('app_manage_blocks') }}">
    <a href="{{ path('app_profile')}}" id="back-button" class="back-button">
        &#8592; Retour 
    </a>
        <h1 class="form-title">Gérer les blocages</h1>
        <label for="block_username">Bloquer un utilisateur :</label>
        <input type="text" id="block_username" name="block_username" placeholder="Chercher un utilisateur" required>
        <div id="autocomplete-results"></div>
        <button type="submit">Bloquer</button>
    </form>

    <h2 class="form-title">Utilisateurs bloqués</h2>
    <div class="centered-list">
        <ul>
            {% for block in blocksInitiated %}
                <li>
                    {{ block.getBlocked().getUsername() }}
                    <a href="{{ path('app_unblock_user', {'id': block.getId()}) }}">Débloquer</a>
                </li>
            {% endfor %}
        </ul>
    </div>

   
{% endblock %}

 {% block javascripts %}
        {{ parent() }}
            <script src="{{ asset('asset/js/autocompleteBlock.js') }}"></script>
{% endblock %}