{# templates/championnat/index.html.twig #}
{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/css/championnat.css') }}">
    {% endblock %}

{% block title %}Liste des Championnats{% endblock %}
{% block content %}

{% block body %}
    <h1>Liste des Championnats</h1>
    <ul>
        {% for championnat in championnats %}
            <li>
                {{ championnat.ligue }} ({{ championnat.country }})
                <ul>
                    <li><a href="{{ path('championnat_data_standings', { 'id': championnat.id }) }}">Voir les standings</a></li>
                    <li><a href="{{ path('championnat_data_matches', { 'id': championnat.id }) }}">Voir les matches</a></li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% endblock %}
