{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/conversation.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/autocomplete-user.css') }}">
{% endblock %}
{% block title %}Messagerie{% endblock %}


{% block body %}
    <div class="container">
    <a href="http://127.0.0.1:8000" id="back-button" class="back-button">
        &#8592; Retour
    </a>

        <div class="autocomplete-container">
            <h2>Nouvelle Conversation</h2>
            <input type="text" id="username-autocomplete" placeholder="Rechercher un utilisateur...">
            <div id="autocomplete-results"></div>
        </div>

<h1>Mes Conversations</h1>

<ul>
    {% for conversation in conversations %}
        {% set unreadMessages = unread_messages_for_conversation(conversation) %}
        <li>
            <a href="{{ path('app_message_conversation', {id: conversation.id}) }}" class="conversation-link" data-id="{{ conversation.id }}">
                {% if unreadMessages > 0 %}
                    <span class="notification-dot"></span>
                {% endif %}
                Conversation avec {{ conversation.user1 == app.user ? conversation.user2.username : conversation.user1.username }}
            </a>
            <form action="{{ path('app_message_delete_conversation', {id: conversation.id}) }}" method="post" style="display: inline;">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conversation.id) }}">
                <button type="submit" class="delete">X</button>
            </form>
        </li>
    {% endfor %}
</ul>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('asset/js/autocompleteMessaging.js') }}"></script>
    <script src="{{ asset('asset/js/markAsRead.js') }}"></script>
{% endblock %}