{# templates/championnat_data/matches.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/matches.css') }}">
{% endblock %}

{% block title %}{{ championnat.ligue }} Matches{% endblock %}

{% block body %}
    <h1>{{ championnat.ligue }} Matches</h1>
    <ul>
        {% if matches is defined %}
            {% for match in matches %}
                <li>
                    <div class="team">
                        <img src="{{ asset(match.homeTeam.crest) }}" alt="Logo de {{ match.homeTeam.name }}" style="width: 30px; height: auto; margin-right: 10px;">
                        {{ match.homeTeam.name }}
                    </div>
                    vs
                    <div class="team">
                        <img src="{{ asset(match.awayTeam.crest) }}" alt="{{ match.awayTeam.name }}" style="width: 30px; height: auto; margin-right: 10px;">
                        {{ match.awayTeam.name }}
                    </div>
                    - 
                    {% if match.score.fullTime.homeTeam is defined and match.score.fullTime.awayTeam is defined %}
                        {{ match.score.fullTime.homeTeam }} : {{ match.score.fullTime.awayTeam }}
                    {% else %}
                        Not played yet
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <li>No matches available</li>
        {% endif %}
    </ul>

    <div class="pagination">
        {% if pagination.currentPageNumber > 1 %}
            <a href="{{ path('championnat_data_matches', { id: championnat.id, page: pagination.currentPageNumber - 1 }) }}" class="pagination-button">
                <span>&lt; Journée {{ pagination.currentPageNumber - 1 }}</span>
            </a>
        {% endif %}

        <span class="pagination-current">Journée {{ pagination.currentPageNumber }}</span>

        {% if pagination.currentPageNumber < pagination.pageCount %}
            <a href="{{ path('championnat_data_matches', { id: championnat.id, page: pagination.currentPageNumber + 1 }) }}" class="pagination-button">
                <span>Journée {{ pagination.currentPageNumber + 1 }} &gt;</span>
            </a>
        {% endif %}
    </div>
{% endblock %}
