{# templates/admin_report/archived.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}
{% extends 'base.html.twig' %}

{% block title %}Signalements archivés{% endblock %}

{% block body %}
    <h1>Signalements archivés</h1>
    <div class="create-new-container">
        <a href="{{ path('app_admin_report_index') }}" class="create-new-link">Retour à la liste</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reason</th>
                <th>Reported User</th>
                <th>Reporting User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_report in user_reports %}
            <tr>
                <td>{{ user_report.id }}</td>
                <td>{{ user_report.reason }}</td>
                <td>{{ user_report.reportedUser.username }}</td>
                <td>{{ user_report.reportingUser.username }}</td>
                <td>
                    <form action="{{ path('app_admin_report_delete', {'id': user_report.id}) }}" method="post" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_report.id) }}">
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
