{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}
{% block title %}Détail du Signalement{% endblock %}

{% block body %}
    <h1>Détail du Signalement</h1>
   <div class="create-new-container">
    <a href="{{ path('app_admin_report_index') }}" class="create-new-link">Retour à la liste</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_report.id }}</td>
            </tr>
            <tr>
                <th>Raison</th>
                <td>{{ user_report.reason }}</td>
            </tr>
            <tr>
                <th>Utilisateur signaleur</th>
                <td>{{ user_report.reportingUser.username }}</td>
            </tr>
            <tr>
                <th>Utilisateur signalé</th>
                <td>{{ user_report.reportedUser.username }}</td>
            </tr>
            <tr>
                <th>Contenu du Post</th>
                <td>{{ user_report.postContent }}</td> <!-- Contenu du post -->
            </tr>
        </tbody>
    </table>
    {{ include('admin/admin_report/_delete_form.html.twig') }}
{% endblock %}
