{% extends 'base.html.twig' %}

{% block title %}UserReport{% endblock %}

{% block body %}
    <h1>UserReport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_report.id }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ user_report.reason }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_report_index') }}">back to list</a>

    <a href="{{ path('app_admin_report_edit', {'id': user_report.id}) }}">edit</a>

    {{ include('admin/admin_report/_delete_form.html.twig') }}
{% endblock %}
