{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block title %}Gestion des cartes{% endblock %}

{% block body %}
    <h1>Gestion des cartes</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="create-new-container">
        <a href="http://127.0.0.1:8000/admin" id="back-button" class="back-button">
        &#8592; Retour
        </a>
            <a href="{{ path('app_admin_card_new') }}" class="create-new-link">Créer une nouvelle carte</a>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Lien</th>
                    <th>Code Drapeau</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for card in pagination %}
                    <tr>
                        <td>{{ card.id }}</td>
                        <td>{{ card.title }}</td>
                        <td>{{ card.description }}</td>
                        <td><img src="{{ asset(card.image) }}" alt="{{ card.title }}" style="width: 100px;"></td>
                        <td><a href="{{ card.link }}">{{ card.link }}</a></td>
                        <td>{{ card.codeFlag|raw }}</td>
                        <td>
                            <a href="{{ path('app_admin_card_show', {'id': card.id}) }}">Voir</a>
                            <a href="{{ path('app_admin_card_edit', {'id': card.id}) }}">Modifier</a>
                            <form action="{{ path('app_admin_card_delete', {'id': card.id}) }}" method="post" style="display:inline;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ card.id) }}">
                                <button class="btn btn-danger" type="submit">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun résultat</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
