{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
    {% endblock %}

{% block title %}New Card{% endblock %}

{% block body %}
    <h1>Créer une nouvelle carte</h1>
    <div class="create-new-container">
    <a href="{{ path('app_admin_card_index') }}" class="create-new-link">Retour à la liste</a>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="">{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}

{% endblock %}
