{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
{% endblock %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <form method="post">
    {{ form_start(requestForm) }}
        <h1 class="form-title">Réinitialiser le mot de passe</h1>
        {{ form_row(requestForm.email) }}
        <div>
            <p>
                Entrez votre adresse e-mail,vous recezvrez un lien pour
                réinitialiser votre mot de passe.
            </p>
        </div>
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
    </form>
{% endblock %}
