{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/admin-index.css') }}">
{% endblock %}

{% block body %}
    <div class="admin-section">
        <h1>Menu d'administration du site Footix</h1>
        <span class="welcome-message">
            Bienvenue, {{ app.user.username }}
            {% if app.user.userProfile and app.user.userProfile.club and app.user.userProfile.club.logoClub %}
                <img src="{{ asset(app.user.userProfile.club.logoClub) }}" alt="{{ app.user.userProfile.club.name }}" class="club-logo">
            {% endif %}
        </span>
        <p>
            Tu trouveras ici toutes les fonctionnalités liées à la gestion du site.
            Réfères-toi au support d'utilisation que tu as reçu lors de ta désignation en tant qu'administrateur.
        </p>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="admin-menu-container">
            <ul class="admin-menu">
                <a href="{{ path("app_admin_category_index") }}">Gestion des categories</a>
                <a href="{{ path("app_admin_topic_index") }}">Gestion des sujets</a>
                <a href="{{ path("app_admin_post_index") }}">Gestion des posts</a>
                <a href="{{ path("app_admin_contact_index") }}">Gestion des prises de contact</a>
                <a href="{{ path("app_admin_report_index") }}">Gestion des signalements</a>
                <a href="{{ path("app_admin_club_index") }}">Gestion des clubs</a>
                <a href="{{ path("app_admin_championnat_index") }}">Gestion des championnats</a>
                <a href="{{ path("app_admin_card_index") }}">Gestion des cartes</a>
                <a href="{{ path("app_admin_banned_index") }}">Gestion des bannissements</a>
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

