{# templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
    {% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1 class="form-title">Contactez-nous</h1>
        {{ form_row(form.email) }}
        {{ form_row(form.title) }}
        {{ form_row(form.message) }}
        {{ form_row(form.msg_date) }}
        <button class="btn">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
