{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}
{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>
    <div class="create-new-container">
        <a href="{{ path('app_admin_post_new') }}" class="create-new-link">Créer un nouveau post</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.label }}</td>
                <td>{{ post.message }}</td>
                <td>
                    <a href="{{ path('app_admin_post_show', {'id': post.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_post_edit', {'id': post.id}) }}">Modifier</a>
                    <form action="{{ path('app_admin_post_delete', {'id': post.id}) }}" method="post" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                            <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
