{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block title %}Gestion des sujets{% endblock %}

{% block body %}
    <h1>Les sujets</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="create-new-container">
        <a href="{{ path('app_admin_topic_new') }}" class="create-new-link">Créer un nouveau sujet</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in pagination %}
            <tr>
                <td>{{ topic.id }}</td>
                <td>{{ topic.title }}</td>
                <td>{{ topic.creationDate ? topic.creationDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_topic_show', {'id': topic.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_topic_edit', {'id': topic.id}) }}">Modifier</a>
                    <form action="{{ path('app_admin_topic_delete', {'id': topic.id}) }}" method="post" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic.id) }}">
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% endif %}
{% endblock %}
