{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}
{% block title %}Sujet{% endblock %}

{% block body %}
    <h1>Sujet</h1>
    <div class="create-new-container">
    <a href="{{ path('app_admin_topic_index') }}" class="create-new-link">Retour à la liste</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ topic.title }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ topic.creationDate ? topic.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Num_views</th>
                <td>{{ topic.numViews }}</td>
            </tr>
            <tr>
                <th>Num_replies</th>
                <td>{{ topic.numReplies }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('admin/admin_topic/_delete_form.html.twig') }}
{% endblock %}
