{% extends 'base.html.twig' %}

{% block title %}UserBanned{% endblock %}

{% block body %}
    <h1>UserBanned</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_banned.id }}</td>
            </tr>
            <tr>
                <th>BannedDate</th>
                <td>{{ user_banned.bannedDate ? user_banned.bannedDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NumberBan</th>
                <td>{{ user_banned.numberBan }}</td>
            </tr>
            <tr>
                <th>IsPermanentlyBanned</th>
                <td>{{ user_banned.isPermanentlyBanned ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_banned_index') }}">back to list</a>

    <a href="{{ path('app_admin_banned_edit', {'id': user_banned.id}) }}">edit</a>

    {{ include('admin_banned/_delete_form.html.twig') }}
{% endblock %}
