{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/topic.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/pagination.css') }}">
{% endblock %}

{% block title %}{{ category.label }}{% endblock %}

{% block body %}
<h1 class="page-title">{{ category.label }}</h1>
 <div class="container">
    <a href="http://127.0.0.1:8000/forum" id="back-button" class="back-button">
        &#8592; Retour
    </a>
    <button id="toggle-form" class="btn btn-primary">+ Créer un nouveau sujet</button>

    <div id="topic-form-container" class="forum-topic form-topic-create" style="display: none;">
        {{ form_start(form) }}
        <h2 class="form-title">Créer un nouveau sujet</h2>
        {{ form_row(form.title) }}
        <button type="submit">Créer</button>
        {{ form_end(form) }}
    </div>

    <div class="forum-topic">
        <h2 class="form-title">Les Sujets &#9917;</h2>
        <ul class="topic-list">
            {% for topic in topics %}
                <li>
                    <a href="{{ path('forum_topic_show', {'id': topic.id}) }}">{{ topic.title }} </a>
                    <small>Créé par {{ topic.user.username }} le {{ topic.creationDate|date('d/m/Y H:i') }}</small><br>
                    <small>Nombre de posts : {{ topic.posts|length }}</small>
                    {% if app.user and app.user.id == topic.user.id %}
                |   <a href="{{ path('forum_topic_edit', {'id': topic.id}) }}">Éditer</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
        {{ knp_pagination_render(topics) }}
    </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
            document.addEventListener('DOMContentLoaded', () => {
            const burger = document.querySelector('.burger');
            const navLinks = document.querySelector('.nav-links');

            burger.addEventListener('click', () => {
            navLinks.classList.toggle('active');
            burger.classList.toggle('toggle');
    });
});
        document.addEventListener('DOMContentLoaded', function() {
            const toggleButton = document.getElementById('toggle-form');
            const formContainer = document.getElementById('topic-form-container');

            toggleButton.addEventListener('click', function() {
                if (formContainer.style.display === 'none' || formContainer.style.display === '') {
                    formContainer.style.display = 'block';
                    toggleButton.textContent = '- Annuler';
                } else {
                    formContainer.style.display = 'none';
                    toggleButton.textContent = '+ Créer un nouveau sujet';
                }
            });
        });
        //document.addEventListener("DOMContentLoaded", function() {
        //document.getElementById("back-button").addEventListener("click", function(event) {
          //  event.preventDefault();
          //  window.history.back();
        //});
    //});
    </script>
{% endblock %}
