{# templates/forum/category_show.html.twig #}

{% extends 'base.html.twig' %}
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('asset/css/topic.css') }}">
                <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
        {% endblock %}

{% block title %}{{ category.label }}{% endblock %}

{% block body %}
<h1 class="page-title">{{ category.label }}</h1>
<div class="container">
    <div class="forum-topic form-topic-create">
        {{ form_start(form) }}
        <h2 class="form-title">Créer un nouveau sujet </h2>
        {{ form_row(form.title) }}
                    <button type="submit">Créer</button>
        {{ form_end(form) }}
    </div>
    <div class="forum-topic">
        <h2 class="form-title">Les Sujets &#9917;</h2>
        <ul class="topic-list">
            {% for topic in topics %}
                <li>
                    <a href="{{ path('forum_topic_show', {'id': topic.id}) }}">{{ topic.title }} </a>
                    <small>Créé par {{ topic.user.username }} le {{ topic.creationDate|date('d/m/Y H:i') }}</small><br>
                    <small>Nombre de posts : {{ topic.posts|length }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
