{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
{% endblock %}
{% block title %}Éditer le sujet - {{ topic.title }}{% endblock %}

{% block body %}
    <h1 class="form-title">Éditer le sujet : {{ topic.title }}</h1>

    <div class="container">
        {# <a href="{{ path('forum_category_show', {'id': topic.id}) }}" class="back-button">
            &#8592; Retour au sujet
        </a> #}

        {{ form_start(form) }}
                <a href="javascript:history.back()" id="back-button" class="back-button">
        &#8592; Retour
    </a>
        <h2 class="form-title">Modifier votre sujet</h2>
        {{ form_row(form.title) }}
        <button type="submit">Mettre à jour</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
