{# templates/admin_club/new.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
{% endblock %}
{% block title %}New Club{% endblock %}

{% block body %}
    <h1>Create new Club</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.logoFile) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin_club_index') }}">back to list</a>
{% endblock %}
